html, body {
      margin: 0;
    }

html {
    background: linear-gradient(black, gray);
    height: auto;
}

  #wrapper {
      max-width: 1000px;
      margin: 0 auto;

  }
    h1, h2, a {
      font-family: 'Oswald', sans-serif;
      text-transform: uppercase;
    }

h3, h4 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 25px;
}

    p {
      font-family: 'Oswald', sans-serif;
      text-transform: uppercase;
    }

    span {
      font-size: 20px;
      font-family: 'Oswald', sans-serif;
      text-transform: uppercase;
    }

     .sub-header {
     font-size: 28px;
}

   a {
     font-size: 20px;
     text-decoration: none;
     margin: 20px;
     color: #000;
   }

    .container {
      max-width: 800px;
      margin: 0 auto;
    }

#call-to-action {
  position: relative;
  margin-left: 50px;
  padding: 20px 20px;
  max-width: 300px;
  max-height: 300px;
  background-color: #ffd600;
  opacity: 0.8;
}
    /* Main */
    .main {
      text-align: center;
      background: url(../images/Pharrel-Williams.png) no-repeat center center;
      background-size: cover;
      height: 600px;
    }

    .main .container {
      position: relative;
      top: 0px;
    }

    .main h1 {
      color: #000;
      margin: 0px;
      font-size: 150px;
    }

    .main p {
      color: #fff;
      margin: 0 0 20px 0;
      font-size: 18px;
    }

    .clearfix {
      clear: both;
      max-height: 10px;
    }

    .main h2 {
      color: #000;
      margin: 0;
      font-size: 150px;
    }

ul li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
  display: inline;
    padding: 20px;
}
.sony-record-logo {

      margin: 0 0 10px 0;
      padding: 2px;
      vertical-align: middle;
}

.sony-logo {
      margin: 0 0 10px 0;
      padding: 2px;
      vertical-align: middle;
}

.companies-sites a {
  font-size: 50px;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

    /* Footer */
    .footer {
      background-color: #ffd600;
      height: 800px;
      text-align: center;
      border-top: 25px;
      border-bottom: 0px;
      border-left: 0px;
      border-right: 0px;
      border-style: solid;
      border-color: #000;
    }

    .footer .container {
      position: relative;
      top: 20px;
    }

    .footer h2 {
      color: #000;
      font-size: 160px;
      margin: -85px 0 -28px 0;
      padding:50px 0 0;
    }

    .footer p {
      color: #000;
      margin: 40px 0 50px 0;
      font-size: 18px;
    }

    @media (min-width:800px) {
      .main h1 {
        margin-top: -20px;
        font-size: 78px;
      }

    @media (min-width:800px) {
      .main h2 {
        font-size: 78px;
      }
